*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

body {
  font-size: 25px;
  line-height: 1.7;
  font-family: "Nunito", sans-serif;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* header */
.header {
  max-height: 100vh;
  overflow: hidden;
}

/* inner_header */
.inner_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner_header_container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
}

.logo {
  background: url("hookah.png") no-repeat center;
  background-size: 100px;
}

.logo_text {
  padding: 20px 50px;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 900;
  color: rgb(128, 17, 17);
  font-family: 'Goldman', cursive;
  background: linear-gradient(to right, black, rgb(210, 18, 58), black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav {
  text-transform: uppercase;
}

.nav:last-child {
  margin-right: -100px;
}

.nav_btn {
  color: white;
  font-size: 35px;
  font-family: 'Goldman', cursive;
  font-weight: 900;
  margin-right: 30px;
  transition: color .1s linear;
}

.nav_btn:hover {
  color: rgb(175, 38, 125);
}

/* intro */
.video_bg {
  position: relative;
  padding-bottom: 56.25%;
}

.video_media {
  width: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
/* intro */
.intro {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}

.inner_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  line-height: 1;
  text-align: center;
}

.suptitle {
  color: #fff;
  font-family: "Kaushan Script", cursive;
  font-size: 50px;
}

.title {
  color: #fff;
  font-family: 'Goldman', sans-serif;
  text-transform: uppercase;
  font-size: 75px;
}
